# GoidaAuth access transformers (NeoForge 1.21.1 mojmap)
public net.minecraft.server.network.ServerLoginPacketListenerImpl state
public net.minecraft.server.network.ServerLoginPacketListenerImpl challenge
public net.minecraft.server.network.ServerLoginPacketListenerImpl requestedUsername
public net.minecraft.server.network.ServerLoginPacketListenerImpl$State
